@import url(https://fonts.googleapis.com/css2family=Poppins:wght@600&display=swap);
body {
    font-family: "Poppins", sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    pointer-events: none;
}

.overlay *{
    pointer-events: auto;
}
.card{
    perspective: 100vh;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
}

#captures img{
    width: 240px;
    aspect-ratio: 16/9;
    border-radius: 0.25rem;
}

button {
    outline: 0;
    border: 0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(180deg, rgb(200,200,200), rgb(160,160,160));
    border: 1px solid rgb(150,150,150);
    color: rgb(255,255,255);
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
    font-size: medium;
}
button:hover{
    transform: scale(1.05) translateY(-1px);
    opacity: 0.9;
}
