* {
    font-family: 'Hack', monospace;
    color: #fff;
    font-size: 12px;
}

#webgpu-canvas{
    transform-origin: top left;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    pointer-events: none;
}

.overlay .quadrant {
    display: flex;
    padding: 1rem;
    box-sizing: content-box;
}

.overlay > .quadrant:nth-child(2){
    justify-content: end;
}

.overlay > .quadrant:nth-child(3){
    align-self: end;
}

.overlay > .quadrant:nth-child(4){
    align-self: end;
    justify-items: end;
}

.overlay *{
    pointer-events: auto;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    position: relative;
    background: rgba(30,30,30, 0.6);
    backdrop-filter: blur(32px);
}

button{
    background: rgb(60,60,60);
    border: none;
    height:16px;
    cursor: pointer;
    color: rgb(160,160,160);
    text-transform: uppercase;
}

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: rgb(60,60,60);
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    background: rgb(120, 120,120);
    cursor: pointer;
}

input[type=checkbox]{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#captures img{
    width: 240px;
    aspect-ratio: 16/9;
}

.debug-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.debug-row > *:first-child{
    width:200px;
    text-align: right;
}
.debug-row > *:nth-child(2){
    width: 100%;
}
