@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#webgpu-canvas{
    transform-origin: top left;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    pointer-events: none;
}

.overlay .quadrant {
    display: flex;
    padding: 1rem;
    box-sizing: content-box;
}

.overlay > .quadrant:nth-child(2){
    justify-content: end;
}

.overlay > .quadrant:nth-child(3){
    align-self: end;
}

.overlay > .quadrant:nth-child(4){
    align-self: end;
    justify-items: end;
}

.overlay *{
    pointer-events: auto;
}
.card{
    perspective: 100vh;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    --squircle-fill: rgba(40,40,40,1.0);
    background-image: paint(squircle);
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    border-radius: 0.5rem;
    --squircle-smooth: 2;
    --squircle-radius: 20px;
    position: relative;
}

#captures img{
    width: 240px;
    aspect-ratio: 16/9;
    border-radius: 0.25rem;
}

button {
    outline: 0;
    border: 0;
    padding: 0.5rem 1rem;
    background: linear-gradient(180deg, rgba(60,60,60,0.9), rgba(40,40,40,0.9)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
    --squircle-smooth: 2;
    --squircle-radius: 50px;
    letter-spacing: 0.0625rem;
    position: relative;
    -webkit-mask: paint(squircle);
}
button > span{
    background: linear-gradient(180deg, #A4A4A4, #E8E9E8);
    filter: none;
    z-index: 1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 10deg;
}

button:after{
     content: "";
     display: block;
     position: absolute;
     z-index:0;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(var(--a), #222326, #979DAA, #222326);
    transition:--a 0.4s cubic-bezier(0.16, 1, 0.3, 1);
     -webkit-mask: paint(squircle);
     --squircle-outline: 1px;
}

button:hover:after{
    --a:166deg;
}

button:hover{
    background: linear-gradient(180deg, rgba(70,70,70,0.9), rgba(50,50,50,0.9)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    transform: scale(1.025);
}

button:active{
    background: linear-gradient(180deg, rgba(55,55,55,0.9), rgba(35,35,35,0.9)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    transform: scale(0.9875);
}

#log{
    font-family: "Arial Unicode MS", sans-serif;
}